p{
    background-color:white;
    color:rgb(131, 10, 10);
    font-size: 20px;
}

h1{
    color:rgb(99, 6, 6);
}
img{

    width: 250px;

}

body{

    background-color: rgb(238, 236, 236);
}
ol{
    background-repeat: space;
}
ul{
    color:rgb(8, 1, 1);
}